@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap'); */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* menu */
.menu {
    display: flex;
    /* width: 1440px; */
    background-color: rgba(255, 144, 14, 0.1);
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 130px;
}

.menu-title,
h2 {
    font-size: 45px;
    color: #131313;
}

.menu-text {
    /* display: flex; */
    display: flex;
    justify-content: flex-end;
    padding-left: 680px;
}

.menu-item {
    padding-left: 50px;
    font-size: 18px;
    color: #2e2e2e;
}

li,
a {
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
}

/* brand-section */
.brand-section {
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
}

.brand {
    
}

.brand-title {

    font-weight: 700;
    font-size: 64px;

}

.brand-details {
    padding: 30px 0px;
}

.explore-btn {
    padding: 20px 25px;
    font-size: 20px;
    color: white;
    background-color: #FF900E;
    border-style: none;
    border-radius: 8px;
}

.brand-image {
    padding: 50px 0px;
    /* text-align: center; */
}


/* feature-section */
.feature-section {
    display: flex;
    width: 1440px;
    padding-top: 85px;
    padding-bottom: 130px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.feature {
    padding-left: 70px;
}

.quick-text-decoration {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.our-text-decoration {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.feature-text-decoration {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-details {
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #727272;
}

/* experience section */
.experience-section {
    display: flex;
    /* width: 1440px; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 130px;
}

.experience-left {}

.experience-title {
    font-size: 45px;
    padding-bottom: 25px;

}

.experience-title-detail {
    font-size: 16px;
    color: #727272;
    padding-bottom: 30px;
}

.experience-detail {
    font-size: 16px;
    color: #727272;
    padding-top: 10px;
}

.experience {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
}

.experience-right {
    padding-left: 100px;
}

/* fact-section */
.fact-section {
    width: 1440px;
    margin: 0 auto;
    padding-bottom: 180px;
}

.fact-title {
    font-size: 45px;
    padding-bottom: 25px;
}

.fact-detail {
    color: #727272;
    padding-bottom: 100px;
}

.fact-awards {
    display: flex;
    justify-content: space-around;
}

.award {
    border: 1px solid #FF900E;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    padding: 45px 35px;

}

.award-title {
    font-size: 45px;
    color: #424242;
    padding-top: 10px;
}

.award-detail {
    font-size: 20px;
    color: #727272;
    padding-top: 5px;
}

/* sponspors-section */
.sponspors-section {
    text-align: center;
}

.sponspors-title {
    font-size: 45px;
    color: #131313;
    padding-bottom: 25px;
}

.sponspors-detail {
    font-size: 16px;
    color: #727272;
    padding-bottom: 50px;
}

.sponspors-image {}

.sponsors-icon {
    padding-left: 150px;
}

/* footer */
footer {
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
}

.footer-detail {
    text-align: center;
    font-size: 20px;
    color: #424242;
    padding: 40px;
}